#bodydiv {
   margin-left: 150px;
   margin-right: 150px;
}

#heading {
   font-family: Helvetica;
   border-bottom: 1px solid #A9A9A9;
}

#cthulhu {
   float: right;
   right: 0px;
   z-index: 1;
}

#emailref {
   color: #A9A9A9;
}

#about {
   font-style: italic;
   font-family: Georgia;
   color: #808080;
}

#emptydiv {
   margin-top: 75px;
   margin-bottom: 75px;
}

#emptydd {
   margin-top: 75px;
   margin-bottom: 75px;
}

h2 {
   font-size: 19px;
}

#information {
   padding-left: 40px;
}

#category {
   font-weight: bold;
   font-style: italic;
   width: 90px;
   border-right: 1px solid #A9A9A9;
   height: 90px;
   font-size: 19px;
   text-align: right;
   padding-right: 10px;
   float: left;
}

.details1 {
   font-weight: bold;
   font-size: 15px;
}

#details {
   margin: 100px;
   padding-left: 20px;
}